# UPI Transactions Data Cleaning Notebook

Objective : 
This notebook cleans an uncleaned UPI transactions dataset.

## 1. Load Required Libraries

In [20]:
import pandas as pd
import numpy as np

## 2. Load Uncleaned Dataset

In [21]:
df = pd.read_excel('UPI_Transactions_Raw_Dataset.xlsx')

In [22]:
df.head()

,TransactionID,TransactionDate,Amount,BankNameSent,BankNameReceived,RemainingBalance,City,Gender,TransactionType,Status,TransactionTime,DeviceType,PaymentMethod,MerchantName,Purpose,CustomerAge,PaymentMode,Currency,CustomerAccountNumber,MerchantAccountNumber
0,TXN00001,2024-02-02,271.64,SBI Bank,HDFC Bank,5557.02,Delhi,Female,Transfer,Success,17:12:14,Tablet,Phone Number,Amazon,Food,21,Scheduled,USD,123456789013,987654321013
1,TXN00002,2024-03-03,1064.63,ICICI Bank,SBI Bank,9753.32,Bangalore,Male,Payment,Success,11:15:02,Laptop,QR Code,Zomato,Travel,22,Instant,EUR,123456789014,987654321014
2,TXN00003,2024-04-04,144.15,Axis Bank,Axis Bank,7597.35,Hyderabad,Female,Transfer,Success,21:29:39,Mobile,UPI ID,Swiggy,Bill Payment,23,Scheduled,GBP,123456789015,987654321015
3,TXN00004,2024-05-05,612.89,HDFC Bank,ICICI Bank,2327.84,Mumbai,Male,Payment,Success,06:27:36,Tablet,Phone Number,IRCTC,Others,24,Instant,INR,123456789016,987654321016
4,TXN00005,2024-06-06,743.32,SBI Bank,HDFC Bank,1136.84,Delhi,Female,Transfer,Failed,02:06:22,Laptop,QR Code,Flipkart,Shopping,25,Scheduled,USD,123456789017,987654321017

In [23]:
df.tail()

,TransactionID,TransactionDate,Amount,BankNameSent,BankNameReceived,RemainingBalance,City,Gender,TransactionType,Status,TransactionTime,DeviceType,PaymentMethod,MerchantName,Purpose,CustomerAge,PaymentMode,Currency,CustomerAccountNumber,MerchantAccountNumber
20995,TXN19337,NaT,NaN,NaN,HDFC Bank,5775.03,Delhi,Female,Transfer,Success,15:14:19,Laptop,QR Code,Zomato,Travel,37,Scheduled,USD,123456808349,987654340349
20996,TXN07143,NaT,NaN,NaN,Axis Bank,5014.02,Hyderabad,Female,Transfer,Success,16:15:19,Mobile,UPI ID,Swiggy,Bill Payment,43,Scheduled,GBP,123456796155,987654328155
20997,TXN06448,NaT,NaN,NaN,ICICI Bank,7617.46,Mumbai,Male,Payment,Success,18:29:03,Tablet,Phone Number,Swiggy,Bill Payment,28,Instant,INR,123456795460,987654327460
20998,TXN15304,NaT,NaN,NaN,ICICI Bank,1239.31,Mumbai,Male,Payment,Success,07:09:25,Tablet,Phone Number,IRCTC,Others,44,Instant,INR,123456804316,987654336316
20999,TXN00974,NaT,NaN,NaN,SBI Bank,7610.15,Bangalore,Male,Payment,Success,02:12:42,Laptop,QR Code,IRCTC,Others,34,Instant,EUR,123456789986,987654321986

## 3. Basic Dataset Inspection

In [24]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21000 entries, 0 to 20999
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   TransactionID          21000 non-null  object
 1   TransactionDate        20489 non-null  datetime64[ns]
 2   Amount                 20481 non-null  float64
 3   BankNameSent           20584 non-null  object
 4   BankNameReceived       21000 non-null  object
 5   RemainingBalance       21000 non-null  float64
 6   City                   21000 non-null  object
 7   Gender                 21000 non-null  object
 8   TransactionType        21000 non-null  object
 9   Status                 21000 non-null  object
 10  TransactionTime        21000 non-null  object
 11  DeviceType             21000 non-null  object
 12  PaymentMethod          21000 non-null  object
 13  MerchantName           21000 non-null  object
 14  Purpose                21000 non-null  object
 15  CustomerAge            21000 non-null  int64
 16  PaymentMode            21000 non-null  object
 17  Currency               21000 non-null  object
 18  CustomerAccountNumber  21000 non-null  int64
 19  MerchantAccountNumber  21000 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(14)
memory usage: 3.2+ MB

In [25]:
df.describe

<bound method NDFrame.describe of       TransactionID TransactionDate   Amount BankNameSent BankNameReceived  \
0          TXN00001      2024-02-02   271.64     SBI Bank        HDFC Bank
1          TXN00002      2024-03-03  1064.63   ICICI Bank         SBI Bank
2          TXN00003      2024-04-04   144.15    Axis Bank        Axis Bank
3          TXN00004      2024-05-05   612.89    HDFC Bank       ICICI Bank
4          TXN00005      2024-06-06   743.32     SBI Bank        HDFC Bank
...             ...             ...      ...          ...              ...
20995      TXN19337             NaT      NaN          NaN        HDFC Bank
20996      TXN07143             NaT      NaN          NaN        Axis Bank
20997      TXN06448             NaT      NaN          NaN       ICICI Bank
20998      TXN15304             NaT      NaN          NaN       ICICI Bank
20999      TXN00974             NaT      NaN          NaN         SBI Bank

       RemainingBalance       City  Gender TransactionType   Status  \
0               5557.02      Delhi  Female        Transfer  Success
1               9753.32  Bangalore    Male         Payment  Success
2               7597.35  Hyderabad  Female        Transfer  Success
3               2327.84     Mumbai    Male         Payment  Success
4               1136.84      Delhi  Female        Transfer   Failed
...                 ...        ...     ...             ...      ...
20995           5775.03      Delhi  Female        Transfer  Success
20996           5014.02  Hyderabad  Female        Transfer  Success
20997           7617.46     Mumbai    Male         Payment  Success
20998           1239.31     Mumbai    Male         Payment  Success
20999           7610.15  Bangalore    Male         Payment  Success

      TransactionTime DeviceType PaymentMethod MerchantName       Purpose  \
0            17:12:14     Tablet  Phone Number       Amazon          Food
1            11:15:02     Laptop       QR Code       Zomato        Travel
2            21:29:39     Mobile        UPI ID       Swiggy  Bill Payment
3            06:27:36     Tablet  Phone Number        IRCTC        Others
4            02:06:22     Laptop       QR Code     Flipkart      Shopping
...               ...        ...           ...          ...           ...
20995        15:14:19     Laptop       QR Code       Zomato        Travel
20996        16:15:19     Mobile        UPI ID       Swiggy  Bill Payment
20997        18:29:03     Tablet  Phone Number       Swiggy  Bill Payment
20998        07:09:25     Tablet  Phone Number        IRCTC        Others
20999        02:12:42     Laptop       QR Code        IRCTC        Others

       CustomerAge PaymentMode Currency  CustomerAccountNumber  \
0               21   Scheduled      USD           123456789013
1               22     Instant      EUR           123456789014
2               23   Scheduled      GBP           123456789015
3               24     Instant      INR           123456789016
4               25   Scheduled      USD           123456789017
...            ...         ...      ...                    ...
20995           37   Scheduled      USD           123456808349
20996           43   Scheduled      GBP           123456796155
20997           28     Instant      INR           123456795460
20998           44     Instant      INR           123456804316
20999           34     Instant      EUR           123456789986

       MerchantAccountNumber
0               987654321013
1               987654321014
2               987654321015
3               987654321016
4               987654321017
...                      ...
20995           987654340349
20996           987654328155
20997           987654327460
20998           987654336316
20999           987654321986

[21000 rows x 20 columns]>

## 4. Remove Duplicate Rows

In [26]:
df = df.drop_duplicates()
df.shape

(20972, 20)

## 5. Handle Missing Values
Rows with NULL values were safely removed them.

In [27]:
df = df.dropna()
df.shape

(20000, 20)

## 6. Clean Text Columns (strip spaces)

In [28]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].str.strip()

## 7. Final Cleaned Dataset

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20000 entries, 0 to 19999
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   TransactionID          20000 non-null  object
 1   TransactionDate        20000 non-null  datetime64[ns]
 2   Amount                 20000 non-null  float64
 3   BankNameSent           20000 non-null  object
 4   BankNameReceived       20000 non-null  object
 5   RemainingBalance       20000 non-null  float64
 6   City                   20000 non-null  object
 7   Gender                 20000 non-null  object
 8   TransactionType        20000 non-null  object
 9   Status                 20000 non-null  object
 10  TransactionTime        20000 non-null  object
 11  DeviceType             20000 non-null  object
 12  PaymentMethod          20000 non-null  object
 13  MerchantName           20000 non-null  object
 14  Purpose                20000 non-null  object
 15  CustomerAge            20000 non-null  int64
 16  PaymentMode            20000 non-null  object
 17  Currency               20000 non-null  object
 18  CustomerAccountNumber  20000 non-null  int64
 19  MerchantAccountNumber  20000 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(14)
memory usage: 3.2+ MB

In [29]:
df.head()

,TransactionID,TransactionDate,Amount,BankNameSent,BankNameReceived,RemainingBalance,City,Gender,TransactionType,Status,TransactionTime,DeviceType,PaymentMethod,MerchantName,Purpose,CustomerAge,PaymentMode,Currency,CustomerAccountNumber,MerchantAccountNumber
0,TXN00001,2024-02-02,271.64,SBI Bank,HDFC Bank,5557.02,Delhi,Female,Transfer,Success,17:12:14,Tablet,Phone Number,Amazon,Food,21,Scheduled,USD,123456789013,987654321013
1,TXN00002,2024-03-03,1064.63,ICICI Bank,SBI Bank,9753.32,Bangalore,Male,Payment,Success,11:15:02,Laptop,QR Code,Zomato,Travel,22,Instant,EUR,123456789014,987654321014
2,TXN00003,2024-04-04,144.15,Axis Bank,Axis Bank,7597.35,Hyderabad,Female,Transfer,Success,21:29:39,Mobile,UPI ID,Swiggy,Bill Payment,23,Scheduled,GBP,123456789015,987654321015
3,TXN00004,2024-05-05,612.89,HDFC Bank,ICICI Bank,2327.84,Mumbai,Male,Payment,Success,06:27:36,Tablet,Phone Number,IRCTC,Others,24,Instant,INR,123456789016,987654321016
4,TXN00005,2024-06-06,743.32,SBI Bank,HDFC Bank,1136.84,Delhi,Female,Transfer,Failed,02:06:22,Laptop,QR Code,Flipkart,Shopping,25,Scheduled,USD,123456789017,987654321017

In [30]:
df.tail()

,TransactionID,TransactionDate,Amount,BankNameSent,BankNameReceived,RemainingBalance,City,Gender,TransactionType,Status,TransactionTime,DeviceType,PaymentMethod,MerchantName,Purpose,CustomerAge,PaymentMode,Currency,CustomerAccountNumber,MerchantAccountNumber
19995,TXN00619,2024-08-20,1557.63,Axis Bank,Axis Bank,5379.78,Hyderabad,Female,Transfer,Success,18:27:06,Tablet,Phone Number,IRCTC,Others,39,Scheduled,GBP,123456789631,987654321631
19996,TXN00620,2024-09-21,1151.00,HDFC Bank,ICICI Bank,8024.64,Mumbai,Male,Payment,Failed,22:04:29,Laptop,QR Code,Flipkart,Shopping,40,Instant,INR,123456789632,987654321632
19997,TXN00621,2024-10-22,1928.98,SBI Bank,HDFC Bank,9428.43,Delhi,Female,Transfer,Success,05:19:18,Mobile,UPI ID,Amazon,Food,41,Scheduled,USD,123456789633,987654321633
19998,TXN00622,2024-11-23,929.87,ICICI Bank,SBI Bank,2858.71,Bangalore,Male,Payment,Success,19:43:50,Tablet,Phone Number,Zomato,Travel,42,Instant,EUR,123456789634,987654321634
19999,TXN00623,2024-12-24,702.63,Axis Bank,Axis Bank,8392.23,Hyderabad,Female,Transfer,Success,00:30:33,Laptop,QR Code,Swiggy,Bill Payment,43,Scheduled,GBP,123456789635,987654321635

## 8. Save Cleaned Dataset

In [31]:
df.to_excel('UPI_Transactions_Cleaned_Final.xlsx', index=False)
print('Cleaned dataset saved successfully')

Cleaned dataset saved successfully

 **Cleaning Complete**

Now we have done the UPI Transactions dataset cleaning successfully.